<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795995871077-l2e0gja1ii6cooau2p9gnmge1ns1db0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795995871077-l2e0gja1ii6cooau2p9gnmge1ns1db0l</string>
	<key>API_KEY</key>
	<string>AIzaSyDGPhlSAnerSdBg2NYkIf2pR0oAqEiGp5k</string>
	<key>GCM_SENDER_ID</key>
	<string>795995871077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.letsride.today</string>
	<key>PROJECT_ID</key>
	<string>letsridetoday-cdd4a</string>
	<key>STORAGE_BUCKET</key>
	<string>letsridetoday-cdd4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795995871077:ios:afe23026fc8a238493b38c</string>
</dict>
</plist>